/* Container styles */
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
    background-color: #f5f5f5;
  }
  
  /* Profile card container styles */
  .profile-card-container {
    height: 80vh; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Profile card styles */
  .profile-card {
    height: 520px; /* Fixed height */
    width: 400px; /* Fixed width */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 100%; /* Allow card to shrink if viewport is smaller */
    text-align: center;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
  }
  
  /* Divider styles */
  .divider {
    width: 100%;
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
  }
  
  /* About title styles */
  .about-title {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
  }
  
  /* Profile image styles */
  .profile-image {
    width: 300px;
    height: 400px;
    border-radius: 0%;
    margin: 0 auto 20px;
    object-fit: cover;
  }
  
  /* Profile name styles */
  .profile-name {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
  }
  
  /* Profile bio styles */
  .profile-bio {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
  }
  
  /* Action button styles */
  .actions {
    position: fixed; /* Position fixed within the viewport */
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 50%; /* Align to the center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    display: flex;
    justify-content: center;
    z-index: 1000; /* Ensure buttons appear above other content */
  }
  
  .button {
    padding: 10px;
    margin: 0 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 34px;
    background-color: transparent;
  }
  
  .like-button {
    color: #4caf50;
  }
  
  .dislike-button {
    color: #f44336;
  }
  
  .report-button {
    color: #2196f3;
  }
  
  .match-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .match-popup p {
    margin: 0;
    font-size: 18px;
    color: #333333;
  }
  
  .match-popup button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .match-popup button:hover {
    background-color: #45a049;
  }